USE [master]
GO
/****** Object:  Database [DBAPIAYUDASOCIALES]    Script Date: 7/11/2023 3:44:15 a. m. ******/
CREATE DATABASE [DBAPIAYUDASOCIALES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBAPIAYUDASOCIALES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBAPIAYUDASOCIALES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBAPIAYUDASOCIALES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBAPIAYUDASOCIALES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBAPIAYUDASOCIALES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBAPIAYUDASOCIALES]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AyudaSocialId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AyudaSocialId] ASC,
	[UsuarioId] ASC,
	[Anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AyudasSociales]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AyudasSociales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[RegionId] [int] NULL,
	[ComunaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comunas]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comunas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[RegionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regiones]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regiones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PaisId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActionLog]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NULL,
	[Accion] [varchar](max) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Email] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([AyudaSocialId])
REFERENCES [dbo].[AyudasSociales] ([Id])
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[AyudasSociales]  WITH CHECK ADD FOREIGN KEY([ComunaId])
REFERENCES [dbo].[Comunas] ([Id])
GO
ALTER TABLE [dbo].[AyudasSociales]  WITH CHECK ADD FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regiones] ([Id])
GO
ALTER TABLE [dbo].[Comunas]  WITH CHECK ADD FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regiones] ([Id])
GO
ALTER TABLE [dbo].[Regiones]  WITH CHECK ADD FOREIGN KEY([PaisId])
REFERENCES [dbo].[Paises] ([Id])
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[SP_Asignaciones]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----Asignaciones-----

CREATE PROCEDURE [dbo].[SP_Asignaciones]
    @Id INT,
    @AyudaSocialId INT,
	@UsuarioId INT,
    @Anio INT,
	@Activo BIT,
	@Accion VARCHAR(100)
AS
BEGIN

 IF(@Accion  = 'Guardar')
	 BEGIN
		INSERT INTO Asignaciones(AyudaSocialId,UsuarioId,Anio,Activo)
        VALUES (@AyudaSocialId,@UsuarioId,@Anio,1);
	  END

  IF(@Accion  = 'Actualizar')
	 BEGIN
		UPDATE Asignaciones
		SET AyudaSocialId = @AyudaSocialId, UsuarioId = @UsuarioId, Anio = @Anio,
		Activo = @Activo
		WHERE Id = @Id;
	  END
  
   IF(@Accion  = 'Eliminar')
	 BEGIN
		DELETE FROM Asignaciones
        WHERE Id = @Id;
	  END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AyudasSociales]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AyudasSociales]
    @Id INT,
    @Nombre VARCHAR(50),
	@RegionId INT,
    @ComunaId INT,
	@Accion VARCHAR(100)
AS
BEGIN

 IF(@Accion  = 'Guardar')
	 BEGIN
		INSERT INTO AyudasSociales(Nombre,RegionId,ComunaId)
        VALUES (@Nombre,@RegionId,@ComunaId);
	  END

  IF(@Accion  = 'Actualizar')
	 BEGIN
		UPDATE AyudasSociales
		SET Nombre = @Nombre, RegionId = @RegionId, ComunaId = @ComunaId
		WHERE Id = @Id;
	  END
  
   IF(@Accion  = 'Eliminar')
	 BEGIN
		DELETE FROM AyudasSociales
        WHERE Id = @Id;
	  END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Comuna]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Comuna]
    @Id INT,
    @Nombre VARCHAR(50),
    @RegionId INT,
	@Accion VARCHAR(100)
AS
BEGIN

 IF(@Accion  = 'Guardar')
	 BEGIN
		INSERT INTO Comunas(Nombre,RegionId)
        VALUES (@Nombre,@RegionId);
	  END

  IF(@Accion  = 'Actualizar')
	 BEGIN
		UPDATE Comunas
		SET Nombre = @Nombre, RegionId = @RegionId
		WHERE Id = @Id;
	  END
  
   IF(@Accion  = 'Eliminar')
	 BEGIN
		DELETE FROM Comunas
        WHERE Id = @Id;
	  END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Pais]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Pais]
    @Id INT,
    @Nombre VARCHAR(50),
	@Accion VARCHAR(100)
AS
BEGIN

  IF(@Accion  = 'Guardar')
	 BEGIN
		INSERT INTO Paises (Nombre)
        VALUES (@Nombre);
	  END

  IF(@Accion  = 'Actualizar')
	 BEGIN
		UPDATE Paises
		SET Nombre = @Nombre
		WHERE Id = @Id;
	  END
  
   IF(@Accion  = 'Eliminar')
	 BEGIN
		DELETE FROM Paises
        WHERE Id = @Id;
	  END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Region]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Region]
    @Id INT,
    @Nombre VARCHAR(50),
    @PaisId INT,
	@Accion VARCHAR(100)
AS
BEGIN

 IF(@Accion  = 'Guardar')
	 BEGIN
		INSERT INTO Regiones (Nombre,PaisId)
        VALUES (@Nombre,@PaisId);
	  END

  IF(@Accion  = 'Actualizar')
	 BEGIN
		UPDATE Regiones
		SET Nombre = @Nombre, PaisId = @PaisId
		WHERE Id = @Id;
	  END
  
   IF(@Accion  = 'Eliminar')
	 BEGIN
		DELETE FROM Regiones
        WHERE Id = @Id;
	  END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Usuario]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Usuario]
    @Id INT,
    @Email VARCHAR(255),
    @Password VARCHAR(255),
    @RolId INT,
	@Accion VARCHAR(100)
AS
BEGIN

 IF(@Accion  = 'Guardar')
	 BEGIN
		INSERT INTO Usuario (Id,Email, Password)
        VALUES (@Id,@Email, @Password);

		INSERT INTO UsuarioRol (UsuarioId,RolId)
		VALUES(@Id,@RolId)
	  END

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UsuarioLista]    Script Date: 7/11/2023 3:44:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UsuarioLista]
@Email VARCHAR(255)
AS
BEGIN
   SELECT R.Nombre 'Role'
   FROM Usuario U
   INNER JOIN UsuarioRol UR ON U.Id = UR.UsuarioId
   INNER JOIN Rol R ON UR.RolId = R.Id
   WHERE Email = @Email
   
END
GO
USE [master]
GO
